.profilePage {
    padding-top: 50px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .profileInfo {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .profileInfo label {
    display: block;
    margin-bottom: 5px;
  }
  
  .profileInfo input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  button:hover {
    background-color: #666;
  }