*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  justify-content: center;
}

.App{
  width: 800px;

}

.post{
  padding: 15px;
  border: 2px solid blue;
  margin-top: 15px;
  align-items: center;
}

.post__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post__bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

